.tl_listing_container {
	.tl_listing_inner {
		.title {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			margin-block-end: 1rem;
			#tl_buttons {
				padding-block: 0;
			}
		}
		&:not(:first-of-type) {
			margin-block-start: 2rem;
		}
	}
	.tl_file_list{
		word-break: break-all;
		.operations{
			display: flex;
			flex-flow: row nowrap;
			gap: .25rem;
		}
	}
}
